*{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
}

header{
  /* position: relative;
  padding-bottom: 2%; */

  background-image: url(images/pureevil.JPG);
  background-size: 33em;
  height: 18em;
  background-position-x: center;
  background-position-y: 26em;
  text-align: center;
  /* color: white; */
  margin-bottom: 0.5em;
}

/* header img {
  width: 100%;
  height: auto;
} */

.logo{
  position: absolute;
  top: 2%;
  right: 3%;
  width: 40%;
}

/* #desktop{
  display: none;
} */

/* .headline-content{
  position: absolute;
  top: 10%;
  left: 27%;
  font-family: Helvetica, Arial, serif;
  
} */

header h1{
  font-family: 'Merriweather', serif;
  font-size: 2.5em;
  position: absolute;
  top:8%;
  left: 23%;
}

header p{
  width: 45%;
  margin: 0 14%;
  position: absolute;
  top: 17%;
  left: 13%;
}
  
.byline{
  font-style: italic;
  font-weight: bold;
  position: absolute;
  top:  31.5%;
  left: 13%;
}

.dropcap{
  font-weight: bold;
  float       : left;
  font-size   : 3.26em;
  line-height : 0.5;
  margin      : 0.205em 0.05em 0.1em 0;
}

p{
  margin: 0 2% 2% 2%;
}

h2{
  font-size: 1.5em;
  font-family: 'Merriweather', serif;
  margin: 0 .75% 2% .75%;
}

figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  margin-top: 1%;
  text-align: center;
}

.picBox {
  width: 95vw;
  height: 45vh;
  margin: auto;
}

.pic{
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: opacity 1s ease;
  position: relative;
  height: auto; 
  width: 90vw; 
}

.pic.visible{
  opacity: 1;
}

#img1{
  position: relative;
  top: 2vh;
  left: 3vw;
  height: auto;
  width: 90vw;
}

#img2{
  top:-34vh;
  left: 3vw;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari 3-8 */
  transform: rotate(10deg)
    
}

#img3{
  top:-70vh;
  left: 5vw;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari 3-8 */
  transform: rotate(-10deg);
}

#img4{
  top:-104.5vh;
  left: 5vw;
}

.buttonDiv {
  position: relative;
  top: -105vh;
  width: 15vw;
  margin: auto;
}

button {
  width: 6vw;
  height: 3vh;
  font-size: 1em;
  background-color: gray;
}

blockquote {
  font-size: 1.5em;
  margin: 0 15% 2% 15%;
  font-style: bold;
}

.parallax { 
  /* The image used */
  background-image: url("images/A_220616genorelia005.JPG");

  /* Set a specific height */
  height: 50%; 

  

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .par-caption{
    margin-bottom: 2%;
  }


.tri-container{
  width: 100%;
  margin-bottom: 2%;
}

.tri-pic {
  height: auto;
  width: 100%;
}

.no-mobile{
  display: none;
}

.parallax2 { 
  /* The image used */
  background-image: url("images/A_A_230616genvigil004.JPG");
  
  /* Set a specific height */
  height: 50%; 
  
  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .bi-container{
    margin-bottom: 2%;
  }

  /* Displays picture of Freddy Krueger on tablets and desktops only*/
  #freddy{
    display: none;
  }

   /* Picture of letter to Freddy Krueger*/

   #letter{
    width: 100%;
  }

  .parallax3 { 
    /* The image used */
    background-image: url("images/031117genpajich144.JPG");
    
    /* Set a specific height */
    height: 50%; 
    
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


.aaron-container{
  width: 100%;
  margin-bottom: 2%;
}

#aaron{
  width:100%;
  height: auto;
}


.mum-container{
  margin-bottom: 2%;
}

#mum{
  width: 100%;
  height: auto;
}

footer{
  margin: 0 2% 2% 2%;
}

footer div {
  padding: 0.5em 1em;
  text-align: center;
  font-family: sans-serif;
}
 
/*View for tablets*/
@media (min-width:479px){

  p{
    margin: 0 10% 2% 10%;
  }

  header{
    background-size: 52em;
    height: 27em;
    background-position-x: 51em;
    background-position-y: 42em;
  }

  /* .headline-content{
    top: 10%;
    left: 27%;
    
  } */
  
  header h1{
    top: 6%;
    left: 28%;
    font-size: 4.5em;
  }

  header p{
    width: 30%;
    top: 15%;
    left: 21.5%;
    font-size: 1.5em;
    margin: 0 15%;
  }

  .byline{
    left: 19%;
    font-size: 1.5em;
  }

  .dropcap {
    font-size   : 3.15em;
  }

  figcaption{
    margin-top: 1%;
  }

  .picbox {
    height: 57vh;
  }

  .pic{
    width: 85vw; 
  }

  #img1{
    left: 5.5vw;
    width: 85vw;
  }

  #img2{
    left: 4.5vw;
    top: -41vh;
  }

  #img3{
    left: 5.5vw;
    top: -86vh;
  }

  #img4{
    top: -130vh;
    left: 6.5vw;
  }

  .buttonDiv {
    top: -129vh;
  }

  #TL{
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
  }

  /* Rotate pics in quad-container*/

  #BL{
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
  }
  
  #BR{
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
    z-index: 2 ;
  }

  /* -----------------------------------------*/

  h2{
    margin: 0 10% 2% 10%;
  }

  .tri-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .tri-pic {
    height: 28%;
    width: auto;
  }

  .no-mobile{
    display: inline;
  }

  .bi-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 3%;
    
  }

  /* Rotate letter pic in bi-container*/

  #letter{
    width: auto;
    margin-bottom: 4%;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
  }

   /* Displays picture of Freddy Krueger on tablets and desktops only*/
   #freddy{
    display: block;
  }

  .aaron-container{
    width: 60%;
    margin: auto;
    margin-bottom: 2%;
  }

  .mum-container{
    width:80%;
   margin: auto;
   margin-bottom: 2%;
  }

  footer{
    width: 80%;
    margin: 2% auto;
  } 

}



  /*View for desktop*/
@media (min-width:800px){

  .logo{
    width: 20%;
  }

  .headline-content{
    top: 10%;
    left: 30%;
  }

  header h1{
    font-size: 10em;
  }

  header p{
    width: 40%;
    margin: 0 9%;
    font-size: 2em;

  }

  #tablet{
    display: none;
  }

  #desktop{
    display: block;
  }

  p{
    font-size: 1.25em;
    margin: 0 15% 2% 15%;
  }

  .picBox {
    width: 45vw;
    height: 67vh;
    }

    .pic{
        height: 53vh;;
        width: auto;
    }

    #img1{
        top:3vh;
        left: 3vw;
        height: 53vh;;
        width: auto;
    }

    #img2{
        top:-47vh;
        left: 3vw;
        
    }

    #img3{
        top:-101vh;
        left: 4vw;
    }

    #img4{
        top:-155vh;
        left: 3vw;
    }

    .buttonDiv {
        top: -152vh;
        width: 10vw;
    }

    button {
        width: 3vw;
    }

  .parallax { 
    /* The image used */

    /* Set a specific height */
    height: 110%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  }

  h2{
    font-size: 2.5em;
    margin: 0 15% 2% 15%;
  }

  .tri-container
  {
    width: 99%;
  }


  .tri-pic {
  height: 65%;
    width: auto;
  }

  .parallax2 { 
    /* The image used */
  
    /* Set a specific height */
    height: 110%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  }

  .parallax3 { 
    /* The image used */
  
    /* Set a specific height */
    height: 110%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  }

  .bi-container
  {
    width: 39%;
  }
 
  .aaron-container{
    width: 40%;
    margin: auto;
    margin-bottom: 2%;
  }

  footer{
    width: 80%;
  }

  footer div {
      padding: 0.5em 1em;
  }
  
}